/*
 共用 主體
*/

body {
  background-color: #eee;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  line-height: 1.5;
  font-family: $font-family-sans;
}
.l_wrap{
  max-width: 1200px;
}

.l_process{
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0px;
  hr{
    border: 2px solid $main-color;
    border-radius: 5px;
  }
  h2{
    font-size: 25px;
    font-weight: bold;
    color: $blue-color;
    position: relative;
    .a_button{
      position: absolute;
      right: 0px;
    }
  }
}
.p_textRight {
  text-align: right;
}

.p_flex {
  display: flex;
}

$breakpoint-sm: 576px; 

@media (max-width: $breakpoint-sm) {
  .l_leftItems{
    min-height: 600px;
    margin-top: 20px;
  }
}
